In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/gapminder.tsv', sep='\t')

In [3]:
data.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

0- run descriptive statistics on data

In [4]:
data.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165877
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846989
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

1- what is the average lifeExp per continent

In [9]:
data.groupby('continent')['lifeExp'].mean()

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

2- what is the average lifeExp per continent per year

In [10]:
data.groupby(['continent', 'year'])['lifeExp'].mean()

continent  year
Africa     1952    39.135500
           1957    41.266346
           1962    43.319442
           1967    45.334538
           1972    47.450942
           1977    49.580423
           1982    51.592865
           1987    53.344788
           1992    53.629577
           1997    53.598269
           2002    53.325231
           2007    54.806038
Americas   1952    53.279840
           1957    55.960280
           1962    58.398760
           1967    60.410920
           1972    62.394920
           1977    64.391560
           1982    66.228840
           1987    68.090720
           1992    69.568360
           1997    71.150480
           2002    72.422040
           2007    73.608120
Asia       1952    46.314394
           1957    49.318544
           1962    51.563223
           1967    54.663640
           1972    57.319269
           1977    59.610556
           1982    62.617939
           1987    64.851182
           1992    66.537212
           1997    68.020515
           2002    69.233879
           2007    70.728485
Europe     1952    64.408500
           1957    66.703067
           1962    68.539233
           1967    69.737600
           1972    70.775033
           1977    71.937767
           1982    72.806400
           1987    73.642167
           1992    74.440100
           1997    75.505167
           2002    76.700600
           2007    77.648600
Oceania    1952    69.255000
           1957    70.295000
           1962    71.085000
           1967    71.310000
           1972    71.910000
           1977    72.855000
           1982    74.290000
           1987    75.320000
           1992    76.945000
           1997    78.190000
           2002    79.740000
           2007    80.719500
Name: lifeExp, dtype: float64

In [11]:
data.groupby(['continent', 'year'])['lifeExp'].mean().unstack('continent')

continent     Africa  Americas       Asia     Europe  Oceania
year
1952       39.135500  53.27984  46.314394  64.408500  69.2550
1957       41.266346  55.96028  49.318544  66.703067  70.2950
1962       43.319442  58.39876  51.563223  68.539233  71.0850
1967       45.334538  60.41092  54.663640  69.737600  71.3100
1972       47.450942  62.39492  57.319269  70.775033  71.9100
1977       49.580423  64.39156  59.610556  71.937767  72.8550
1982       51.592865  66.22884  62.617939  72.806400  74.2900
1987       53.344788  68.09072  64.851182  73.642167  75.3200
1992       53.629577  69.56836  66.537212  74.440100  76.9450
1997       53.598269  71.15048  68.020515  75.505167  78.1900
2002       53.325231  72.42204  69.233879  76.700600  79.7400
2007       54.806038  73.60812  70.728485  77.648600  80.7195

3- what is the average length of country name per continent and year

In [17]:
data['country_length'] = data['country'].apply(len)

In [18]:
data.groupby(['continent', 'year'])['country_length'].mean()

continent  year
Africa     1952     8.307692
           1957     8.307692
           1962     8.307692
           1967     8.307692
           1972     8.307692
           1977     8.307692
           1982     8.307692
           1987     8.307692
           1992     8.307692
           1997     8.307692
           2002     8.307692
           2007     8.307692
Americas   1952     8.480000
           1957     8.480000
           1962     8.480000
           1967     8.480000
           1972     8.480000
           1977     8.480000
           1982     8.480000
           1987     8.480000
           1992     8.480000
           1997     8.480000
           2002     8.480000
           2007     8.480000
Asia       1952     8.242424
           1957     8.242424
           1962     8.242424
           1967     8.242424
           1972     8.242424
           1977     8.242424
           1982     8.242424
           1987     8.242424
           1992     8.242424
           1997     8.242424
           2002     8.242424
           2007     8.242424
Europe     1952     8.333333
           1957     8.333333
           1962     8.333333
           1967     8.333333
           1972     8.333333
           1977     8.333333
           1982     8.333333
           1987     8.333333
           1992     8.333333
           1997     8.333333
           2002     8.333333
           2007     8.333333
Oceania    1952    10.000000
           1957    10.000000
           1962    10.000000
           1967    10.000000
           1972    10.000000
           1977    10.000000
           1982    10.000000
           1987    10.000000
           1992    10.000000
           1997    10.000000
           2002    10.000000
           2007    10.000000
Name: country_length, dtype: float64

4- what are the countries in which the averalge lifeExp over their observations is greater than 75 years

In [19]:
data.groupby('country').filter( lambda x: x['lifeExp'].mean() > 75)

,country,continent,year,lifeExp,pop,gdpPercap,country_length
684,Iceland,Europe,1952,72.490,147962,7267.688428,7
685,Iceland,Europe,1957,73.470,165110,9244.001412,7
686,Iceland,Europe,1962,73.680,182053,10350.159060,7
687,Iceland,Europe,1967,73.730,198676,13319.895680,7
688,Iceland,Europe,1972,74.460,209275,15798.063620,7
689,Iceland,Europe,1977,76.110,221823,19654.962470,7
690,Iceland,Europe,1982,76.990,233997,23269.607500,7
691,Iceland,Europe,1987,77.230,244676,26923.206280,7
692,Iceland,Europe,1992,78.770,259012,25144.392010,7
693,Iceland,Europe,1997,78.950,271192,28061.099660,7
694,Iceland,Europe,2002,80.500,288030,31163.201960,7
695,Iceland,Europe,2007,81.757,301931,36180.789190,7
1080,Netherlands,Europe,1952,72.130,10381988,8941.571858,11
1081,Netherlands,Europe,1957,72.990,11026383,11276.193440,11
1082,Netherlands,Europe,1962,73.230,11805689,12790.849560,11
1083,Netherlands,Europe,1967,73.820,12596822,15363.251360,11
1084,Netherlands,Europe,1972,73.750,13329874,18794.745670,11
1085,Netherlands,Europe,1977,75.240,13852989,21209.059200,11
1086,Netherlands,Europe,1982,76.050,14310401,21399.460460,11
1087,Netherlands,Europe,1987,76.830,14665278,23651.323610,11
1088,Netherlands,Europe,1992,77.420,15174244,26790.949610,11
1089,Netherlands,Europe,1997,78.030,15604464,30246.130630,11
1090,Netherlands,Europe,2002,78.530,16122830,33724.757780,11
1091,Netherlands,Europe,2007,79.762,16570613,36797.933320,11
1140,Norway,Europe,1952,72.670,3327728,10095.421720,6
1141,Norway,Europe,1957,73.440,3491938,11653.973040,6
1142,Norway,Europe,1962,73.470,3638919,13450.401510,6
1143,Norway,Europe,1967,74.080,3786019,16361.876470,6
1144,Norway,Europe,1972,74.340,3933004,18965.055510,6
1145,Norway,Europe,1977,75.370,4043205,23311.349390,6
1146,Norway,Europe,1982,75.970,4114787,26298.635310,6
1147,Norway,Europe,1987,75.890,4186147,31540.974800,6
1148,Norway,Europe,1992,77.320,4286357,33965.661150,6
1149,Norway,Europe,1997,78.320,4405672,41283.164330,6
1150,Norway,Europe,2002,79.050,4535591,44683.975250,6
1151,Norway,Europe,2007,80.196,4627926,49357.190170,6
1464,Sweden,Europe,1952,71.860,7124673,8527.844662,6
1465,Sweden,Europe,1957,72.490,7363802,9911.878226,6
1466,Sweden,Europe,1962,73.370,7561588,12329.441920,6
1467,Sweden,Europe,1967,74.160,7867931,15258.296970,6
1468,Sweden,Europe,1972,74.720,8122293,17832.024640,6
1469,Sweden,Europe,1977,75.440,8251648,18855.725210,6
1470,Sweden,Europe,1982,76.420,8325260,20667.381250,6
1471,Sweden,Europe,1987,77.190,8421403,23586.929270,6
1472,Sweden,Europe,1992,78.160,8718867,23880.016830,6
1473,Sweden,Europe,1997,79.390,8897619,25266.594990,6
1474,Sweden,Europe,2002,80.040,8954175,29341.630930,6
1475,Sweden,Europe,2007,80.884,9031088,33859.748350,6
1476,Switzerland,Europe,1952,69.620,4815000,14734.232750,11
1477,Switzerland,Europe,1957,70.560,5126000,17909.489730,11
1478,Switzerland,Europe,1962,71.320,5666000,20431.092700,11
1479,Switzerland,Europe,1967,72.770,6063000,22966.144320,11
1480,Switzerland,Europe,1972,73.780,6401400,27195.113040,11
1481,Switzerland,Europe,1977,75.390,6316424,26982.290520,11
1482,Switzerland,Europe,1982,76.210,6468126,28397.715120,11
1483,Switzerland,Europe,1987,77.410,6649942,30281.704590,11
1484,Switzerland,Europe,1992,78.030,6995447,31871.530300,11
1485,Switzerland,Europe,1997,79.370,7193761,32135.323010,11
1486,Switzerland,Europe,2002,80.620,7361757,34480.957710,11
1487,Switzerland,Europe,2007,81.701,7554661,37506.419070,11